@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("./Fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.space-font {
  font-family: "Space Grotesk", sans-serif;
}